// Colors
$primary-color: #00D180;
$secondary-color: #FFFFFF;
$dark-color: #51657C;
$darker-color: #003A40;

// Text
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;

// Spacing
$spacing-sm: 6px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;