@use "/src/styles/index.scss" as *;

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $darker-color;

    .subtitle {
        font-size: $font-size-sm;
        color: $dark-color;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .right-align {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .income {
        color: $primary-color;
        filter: brightness(85%);
    }
}